<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-3">Hello, world!</h1>
              <p>Create your freelancer profile and find digital gigs in your local area.</p>
              <p><a class="btn btn-primary btn-lg" href="/users/sign_up?user_type=freelancer" role="button">Create your profile &raquo;</a></p>
            </div>
            <div class="col">
              <h1 class="display-3">Need digital help?</h1>
              <p>Find a local digital helper.</p>
              <p><a class="btn btn-primary btn-lg" href="/users/sign_up?user_type=organisation" role="button">Post a job &raquo;</a></p>
            </div>
          </div>

        </div>
      </div>
