<div class="card card-body">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag portfolio_item.image_url, class: 'img-fluid img-thumbnail' %>
    </div>
    <div class="col-md-8">
      <h3><%= link_to portfolio_item.title, portfolio_item.link %></h3>
      <p><%= portfolio_item.description %></p>
    </div>
  </div>
</div>
